@page
@model LivinParis.Pages.ChoixCCModel
@{
    Layout = "~/Pages/Shared/_ChoiceLayout.cshtml";
    ViewData["Title"] = "ChoixCC";
}
<div class="choice-content">
    <div class="choice-form">
        <div class="titles-choice">
            <p class="title-choice">Je suis là pour :</p>
            <p class="subtitle-choice">(changement possible une fois inscrit)</p>
        </div>
        <div class="form-choice">
            <form method="post">
                <div class="btns-choice">
                    <button class="btn-choice" type="submit" asp-page-handler="ChoixPe"><p>Devenir Client</p></button>
                    <button class="btn-choice" type="submit" asp-page-handler="CreateCuisinier"><p>Devenir Cuisinier</p></button>
                </div>
                <button class="btn-retour" type="submit" asp-page-handler="Register">Retour</button>
            </form>
        </div>
    </div>
</div>
