@page
@model LivinParisWebApp.Pages.CreateCuisinierModel
@{
    Layout = "~/Pages/Shared/CreationLayout.cshtml";
    ViewData["Title"] = "Creation Cuisinier";
}
<div class="create-content">
    <div class="img-container">
        <img src="/src/img/cuisto.svg" alt="" class="img-login" />
        <p class="subtitle-img-login">Préparez vous, ça va cook !</p>
    </div>
    <div class="create-form">
        <p class="title-create-form">Je deviens cuisinier</p>
        <div class="form-create">
            <form method="post">
                <div class="inputs">
                    <input asp-for="FirstName" placeholder="Prénom" />
                    <input asp-for="Name" placeholder="Nom" />
                </div>
                <div class="adress-container">
                    <p>Adresse</p>
                    <div class="input-adress">
                        <select asp-for="Arrondissement">
                            <option disabled selected>Choisissez un arrondissement</option>
                            @for (int i = 1; i <= 20; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <input asp-for="Voirie" placeholder="Voirie" />
                        <select asp-for="Numéro">
                            <option disabled selected>Choisissez un numéro</option>
                            @for (int i = 1; i <= 500; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <button type="submit" asp-page-handler="CestParti">C'est parti !</button>
                <button class="btn-retour" type="submit" asp-page-handler="ChoixCC">Retour</button>
            </form>
        </div>
    </div>
</div>
