@page
@model LivinParis.Pages.CreateCuisinierModel
@{
    Layout = "~/Pages/Shared/CreationLayout.cshtml";
    ViewData["Title"] = "Creation Cuisinier";
}
<div class="create-content">
    <div class="img-container">
        <img src="/src/img/cuisto.svg" alt="" class="img-login" />
        <p class="subtitle-img-login">Préparez vous, ça va cook !</p>
    </div>
    <div class="create-form">
        <p class="title-create-form">Je deviens cuisinier</p>
        <div class="form-create">
            <form method="post">
                <div class="inputs">
                    <input asp-for="FirstName" placeholder="Email" />
                    <input asp-for="Name" placeholder="Mot de passe" />
                </div>
                <div class="adress-container">
                    <p>Adresse</p>
                    <div class="input-adress">
                        <input asp-for="Arrondissement" placeholder="Arrondissement" />
                        <input asp-for="Voirie" placeholder="Voirie" />
                        <input asp-for="Numéro" placeholder="Numéro" />
                    </div>
                </div>
                <button type="submit" asp-page-handler="CestParti">C'est parti !</button>
                <button class="btn-retour" type="submit" asp-page-handler="ChoixCC">Retour</button>
            </form>
        </div>
    </div>
</div>
