@page
@model LivinParis.Pages.LoginModel
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Connexion - LivinParis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/site.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
	@if (!string.IsNullOrEmpty(Model?.Message))
	{
		<script>
			alert("@Model.Message");
		</script>
	} 

	<div class="login-container">
		<div class="logo">
			<p class="logo-title">LivinParis</p>
			<img src="src/img/logo_livinparis.png" alt="">
		</div>
		<div class="login-content">
			<div class="map-container">
				<img src="/src/img/map.png" alt="" class="img-login">
				<p class="subtitle-img-login">Commandez et livrez à volonté !</p>
			</div>
			<div class="login-form">
				<p class="title-login-form">Connexion à mon compte</p>
				<div class="form-login">
					<form method="post">
						<div class="inputs">
							<div class="inputs">
								<input asp-for="Email" placeholder="Email" />
								<span asp-validation-for="Email" class="text-danger"></span>

								<input asp-for="Password" type="password" placeholder="Mot de passe" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>

						</div>
						<button type="submit" asp-page-handler="Login">Se connecter</button>
					</form>
				</div>
				<div class="no-account">
					<p>Je n'ai pas de compte.</p>
					<a href="/Register"><p>M'enregistrer !</p></a>
				</div>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>