<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    @* Ce Layout est appelé dans _ViewStart pour lancer l'app mais la redirection se fait instantanément *@
    @* sur la page Login et donc sur aucun Layout, car les premières pages n'en utilisent pas. *@
    @* C'est ensuite le layout bar nav qui prend le relai. Donc celui ci ne sert qu'à lancer l'appli. *@
</body>
</html>