@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewData["Title"] - LivinParis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
</head>
<body>
    <header >
        <div class="nav-bar">
            <span class="nav-title">LivinParis</span>
            <img src="~/src/img/logo_livinparis.png" alt="Logo" class="nav-logo" />
        </div>
        <div class="nav-btns">
            <form method="get" asp-page="/ClientPanel">
                <button type="submit" class="nav-btn">Espace Client</button>
            </form>

            <form method="get" asp-page="/CuisinierPanel">
                <button type="submit" class="nav-btn">Espace Cuisinier</button>
            </form>
        </div>
    </header>

    <div class="panel-container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>