@page
@model LivinParisWebApp.Pages.Client.DetailsCommandeModel
@{
    Layout = "~/Pages/Shared/_NavBarLayout.cshtml";
    ViewData["Title"] = "Détails Commande";
}
<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<div class="top-panel">
    <p class="message-top-panel">Détails de votre commande</p>
</div>
<div class="content-details-commande">
    <div class="box">
        <div class="ligne1">
            <p class="nom">Plats : </p>
            <!-- a automatiser foreach ou jsp-->
            <p class="one rose">Pâtes bolognaises</p>
            <p class="two rose">Pâtes bolognaises</p>
            <p class="three rose">Pâtes bolognaises</p>
        </div>
        <div class="ligne2">
            <p class="prix">Prix : 15€</p>
            <p class="date rose">Date de commmande : 01/04/25</p>
        </div>
        <div class="btn-validate">
            <form method="post">
                <button type="submit" asp-page-handler="LivrerCommande">
                    Valider
                </button>
            </form>
        </div>
    </div>
</div>
<div class="btn-back-cuisinier">
    <form method="post">
        <button type="submit" asp-page-handler="Retour">
            Retour
        </button>
    </form>
</div>
