@page
@model LivinParisWebApp.Pages.Cuisinier.ChangeTodaysPlatModel
@{
    Layout = "~/Pages/Shared/_NavBarLayout.cshtml";
    ViewData["Title"] = "Plat du jour";
}

<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<div class="top-panel-plat">
    <p class="message-top-panel">Plat du jour</p>
</div>

<form method="post" class="form-plat">
    <div class="content-today-plat">
        <div class="left-colonne">
            <div class="ligne1">
                <div class="inputs">
                    <input asp-for="NomDuPlat" placeholder="Nom du Plat" />
                    <input asp-for="Prix" placeholder="Prix" />
                </div>
            </div>
            <div class="ligne2">
                <div class="inputs">
                    <input asp-for="NbDePersonnes" placeholder="Nb de Personnes" />
                    <input asp-for="Type" placeholder="Type" />
                </div>
            </div>
            <div class="ligne3">
                <div class="creation-container">
                    <p>Création</p>
                    <div class="input-creation">
                        <input asp-for="JourCreation" placeholder="Jour" />
                        <input asp-for="MoisCreation" placeholder="Mois" />
                        <input asp-for="AnneeCreation" placeholder="Année" />
                    </div>
                </div>
            </div>
            <div class="ligne4">
                <div class="peremption-container">
                    <p>Péremption</p>
                    <div class="input-peremption">
                        <input asp-for="JourPerem" placeholder="Jour" />
                        <input asp-for="MoisPerem" placeholder="Mois" />
                        <input asp-for="AnneePerem" placeholder="Année" />
                    </div>
                </div>
            </div>
        </div>

        <div class="right-colonne">
            <div class="ligne1">
                <div class="charge">
                    <p>Photo</p>
                    <button class="load-img" type="button"><p>Charger</p></button>
                    <button type="button"><p>Supprimer</p></button>
                </div>
                <div class="img-container">
                    <p>Aperçu</p>
                    <img src="/src/img/plat.png" alt="">
                </div>
            </div>
            <div class="ligne2">
                <div class="inputs">
                    <input asp-for="Nationalite" placeholder="Nationalité" />
                    <input asp-for="Regime" placeholder="Régime" />
                </div>
            </div>
            <div class="ligne3">
                <div class="ingre-container">
                    <p>Ingrédients</p>
                    <div class="input-ingre">
                        <input asp-for="Ingredients" placeholder="Ingrédients" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-actions">
        <button class="btn-confirm" asp-page-handler="CuisinierPanelConfirm" type="submit">Confirmer</button>
    </div>
</form>

<form method="post" class="form-bottom-plat">
    <button class="btn-back" type="submit" asp-page-handler="CuisinierPanelRetour">Retour</button>
</form>
