@page
@model LivinParisWebApp.Pages.Cuisinier.DetailsCommandeModel
@{
    Layout = "~/Pages/Shared/_NavBarLayout.cshtml";
    ViewData["Title"] = "Détails Commande";
}
<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<div class="top-panel">
    <p class="message-top-panel">Détails de votre commande</p>
</div>
<div class="content-details-ligne-commande">
    <div class="box">
        <div class="ligne1">
            <p class="nom">Plats : </p>
            @foreach (var plat in Model.NomsPlats)
            {
                <p class="rose">@plat</p>
            }
        </div>
        <div class="ligne2">
            <p class="prix">Prix : @Model.PrixTotal €</p>
        </div>
        <div class="ligne3">
            <p class="date rose">Date de livraison : @Model.DateLivraison</p>
        </div>
        <div class="ligne4">
            <p class="lieu rose">Lieu : @Model.LieuLivraison</p>
        </div>
        <div class="btn-validate">
            <form method="post">
                <button type="submit" asp-page-handler="LivrerCommande">
                    <p>Valider</p></button>
            </form>
        </div>
    </div>
</div>
<div class="btn-back-cuisinier">
    <form method="post">
        <button type="submit" asp-page-handler="Retour">
            Retour
        </button>
    </form>
</div>